   <!-- Header Section Begin -->
   <header class="header">
    <div class="header__top">
        <div class="container-fluid pr-5 pl-5">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> fayshinghardware@gmail.com</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        
                        <div class="header__top__right__auth">
                            <a href="/login"><i class="fa fa-user"></i> Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/index"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-8">
                <nav class="header__menu">
                    <ul>
                         <li ><a href="/admin">Home</a></li><!-- graph -->
                        <li><a href="/products">Products</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="/products">Product Details</a></li>
                                <li><a href="/adproduct">Add Product</a></li>
                                
                                
                                <li><a href="/restock">Restock</a></li>
                                
                            </ul>
                            </li>
                        <li><a href="/orders">Orders</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="/orders">Pendings</a></li>
                                <li><a href="/on-going">Processing</a></li>
                                <li><a href="/ofd">Out for Delivery</a></li>
                                <li><a href="/done">Delivery Completed</a></li>
                                <li><a href="/refund">Refund/Cancel</a></li>
                            </ul>
                        </li>
                        <li><a href="/inventory">Inventory</a></li>
                    </ul>
                </nav>
            </div>
            
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
