<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container-fluid pl-5 pr-5">
        <div class="row">
            <div class="col-lg-3 col-md-5 col-sm-5 pl-5">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="/index"><img src="img/logo.png" style="border-radius: 50px;" alt=""></a>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-1 col-sm-1 pl-1">
                <div class="footer__about">
                   
                    <ul>
                        <li>Address: Calapan City, Oriental Mindoro</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: hardware@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-1 col-sm-1 offset-lg-1">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="/about">About Us</a></li>
                
                    

                        <li><a href="/contact">Contact</a></li>


                    
                </div>
            </div>
            <div class="col-lg-2 col-md-6 pr-2">
                <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="footer__copyright ">
                    <div class="footer__copyright__text "  ><p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This ecommerce is made with <i class="fa fa-heart" aria-hidden="true"></i> 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->