<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="#">Power Tools</a></li>
                           <li><a href="#">Hand Tools</a></li>
                           <li><a href="#">Gardening Tools</a></li>
                           <li><a href="#">Building Materials</a></li>
                           <li><a href="#">Electrical Supplies</a></li>
                           <li><a href="#">Plumbing Supplies</a></li>
                           <li><a href="#">Paint & Supplies</a></li>
                           <li><a href="#">Safety Gear</a></li>
                           <li><a href="#">Fasteners & Hardware</a></li>
                           <li><a href="#">Storage & Organization</a></li>
                           <li><a href="#">Outdoor Equipment</a></li>
                           <li><a href="#">Automotive Tools</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            
                            
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>